:root {
    --primary-color: #ffb054;
    --background-color: #000d1a;
    --secondary-color: #ffc663;
    --light-background-color: #f0a050;
    --oldschool-color: #14b814;
    --header-font: sans-serif;
    --header-font-size: 30px;
	--darker-green: #003100;

}

header a {
    font-size: var(--header-font-size);
	color: var(--primary-color);
	text-transform: uppercase;
}

body {
    background-color: var(--background-color);
}

h1 {
    color: var(--oldschool-color);
	font-size: 3rem;
	font-weight: bold;
	padding: 5rem 0;
	font-family: serif;
	font-style: italic;
}

h2 {
    color: var(--secondary-color);
}

p {
    color: var(--oldschool-color);
}

.normalText {
	color:var(--primary-color)
}

footer {
    color: var(--secondary-color);
	display: flex;
	flex-direction: column;
}

